#
# $Id$
#
# Local build configuration

# Leave javac.home commented out to build using the javac on your path. Bear in
# mind that JDK 1.7 is required to build (and run) JavaGrok.

# To build with a locally build langtools javac use the following:
# javac.home = ../langtools/dist

# Checkers framework installation (required for test/ subproject)
checkers.home = ../checker-framework/checkers

# AFU installation (required for test/ subproject)
afu.home = ../annotation-tools/annotation-file-utilities

# Javarifier installation (required for test/ subproject)
javarifier.home = ../javarifier
